body {
  background-image: url('../src/img/background.jpg');
  /*https://pxhere.com/en/photo/1426191 */
  background-size: cover;
  background-repeat: no-repeat;
}

.game {
  background-image: url('../src/img/pitch.jpg');
  /* https://www.pxfuel.com/en/free-photo-ornro */
  background-size: contain;
  background-repeat: no-repeat;
}