body {
  text-align: center;
  box-sizing: border-box;
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.entry-form {
  width: 100%;
  padding: 10px;
  margin: 0 auto 30px auto;
}

.player-input {
  text-align: center;
  height: 40px;
  width: 69%;
  outline: none;
}

.player-submit {
  margin: 10px auto;
  display: block;
  height: 50px;
  width: 70%;
}

.game {
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  width: 90%;
  position: relative;
}

.players-list-title {
  position: absolute;
  top: 50px;
  left: 20%;
  right: 20%
}

.players-list {
  width: 20%;
  margin: auto
}

.team-a-title, .team-b-title {
  position: absolute;
  top: 10px;
}

.team-a-title {
  left: 20px;
}

.team-b-title {
  right: 20px;
}

.team-a-players, .team-b-players, .players-list {
  margin-top: 20px;
}

.team-a-players {
  text-align: left;
}

.team-b-players {
  text-align: right;
}

footer {
  margin-top: 10px;
}

@media screen and (min-width: 700px) {
  .game {
    width: 70%;
  }
  .entry-form {
    width: 90%;
  }
  .player-input {
    width: 400px;
  }
  .player-submit {
    width: 410px;
  }
  .team-a-title, .team-b-title, .players-list-title {
    top: 20px;
  }
  .team-a-title {
    left: 5%;
  }
  .team-b-title {
    right: 5%;
  }
  .team-a-players, .team-b-players {
    margin-top: 30px;
    line-height: 2.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .entry-form {
    width: 75%;
  }
  .team-a-title, .team-b-title, .players-list-title {
    top: 40px;
  }
  .team-a-title {
    left: 5%;
  }
  .team-b-title {
    right: 5%;
  }
  .players-list {
    line-height: 2.5rem;
  }
  .team-a-players, .team-b-players {
    line-height: 4rem;
  }
}