body {
  font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  font-size: 1rem;
}

.form-header, .player-input, .player-submit, .reset-teams, .numbers-reached {
  font-size: 1.5rem;
}

.team-a-title, .team-b-title, .players-list-title {
  font-size: 1.5rem;
}

.team-a-players, .team-b-players, .players-list {
  font-size: 1.25rem;
}

footer {
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  .header h1 {
    font-size: 3rem;
  }
  .team-a-title, .team-b-title, .players-list-title {
    font-size: 1.25rem;
  }
  .team-a-players, .team-b-players, .players-list {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1100px) {
  .header h1 {
    font-size: 4rem;
  }
  .team-a-title, .team-b-title, .players-list-title {
    font-size: 3rem;
  }
  .team-a-players, .team-b-players, .players-list {
    font-size: 2rem;
  }
}